<template>
  <Dialog :key="$route.fullPath" v-model:visible="this.$store.state.createRatingDialogVisible" closable close-on-escape
          modal>
    <template #header>
      <div>Создание рейтинга</div>

    </template>

    <h5>Имя ребенка</h5>
    <span class="p-input-icon-left">

            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="name" aria-describedby="name-help" placeholder="Имя"
                       type="text"/><br>

            <small v-if="this.$store.state.validation.name" id="name-help" class="p-error">
              {{ this.$store.state.validation.name }}
            </small>

    </span>
    <h5>Описание</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-lock" style="position: relative; left: 25px"/>
            <InputText v-model="description" aria-describedby="description-help" placeholder="Комментарий"
                       type="text"/>
            <br>
            <small v-if="this.$store.state.validation.description" id="description-help" class="p-error">
              {{ this.$store.state.validation.description }}
            </small>
    </span>

    <h5>Дата рождения</h5>
    <span class="p-field p-col-12 p-md-4">

            <Calendar v-model="birthday" dateFormat="dd.mm.yy" style="position: relative; left: 18px"/>

      <br>

            <small v-if="this.$store.state.validation.birthday" id="birthday-help" class="p-error">
              {{ this.$store.state.validation.birthday }}
            </small>
    </span>

    <h5>Пол</h5>
    <div class="p-field-radiobutton">

      <RadioButton id="man" v-model="gender" value="1"/>
      <label for="man">Мужской</label>
    </div>
    <div class="p-field-radiobutton">

      <RadioButton id="woman" v-model="gender" value="0"/>
      <label for="man">Женский</label>
    </div>
    <br>
    <small v-if="this.$store.state.validation.gender" id="gender-help" class="p-error">
      {{ this.$store.state.validation.gender }}
    </small>


    <template #footer>
      <Button autofocus icon="pi pi-check" label="Создать" @click="create"/>
    </template>

  </Dialog>
</template>

<script>


import Dialog from 'primevue/dialog';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import Calendar from 'primevue/calendar';
import RadioButton from 'primevue/radiobutton';
import moment from 'moment';

export default {
  name: "CreateRating",
  components: {Dialog, InputText, Button, Calendar, RadioButton},
  data() {
    return {
      name: '',
      description: '',
      birthday: '',
      gender: '',
      visible: false,
      modal: true,
    }
  },

  watch: {
    birthday: function () {
      this.birthday = moment(this.birthday).format('YYYY-MM-DD');
    },

  },
  methods:
      {
        create() {
          this.$store.dispatch('createRating', {
            name: this.name,
            description: this.description,
            birthday: this.birthday,
            gender: this.gender
          });
        },

      }
}
</script>

<style scoped>

</style>
