<template>
  <Dialog :key="$route.fullPath" v-model:visible="visible" modal>


  </Dialog>
  <ConfirmDialog :id="123">

  </ConfirmDialog>

  <Button icon="pi pi-check" label="Confirm" @click="delete()"></Button>
</template>

<script>
import ConfirmDialog from 'primevue/confirmdialog';


export default {
  name: "DeleteDialog"
}
</script>

<style scoped>

</style>
