<template>
  <ConfirmPopup group="demo">
    <template #message="slotProps">
      <div class="p-d-flex p-p-4">
        <i :class="slotProps.message.icon" style="font-size: 1.5rem"></i>
        <p class="p-pl-2">{{ slotProps.message.message }}</p>
      </div>
    </template>
  </ConfirmPopup>

  <Button icon="pi pi-check" label="Confirm" @click="discard()"></Button>
</template>

<script>
import ConfirmPopup from 'primevue/confirmpopup';


export default {
  name: "ErrorPopup",
  components: {ConfirmPopup},
  methods: {
    discard() {
      this.$confirm.close();
    }
  }
}
</script>

<style scoped>

</style>
