<template>
  <div id="app">
    <Menu/>
    <CreateRating/>
    <router-view :key="$route.fullPath"/>
  </div>
</template>
<script>

import store from "./state";

import Menu from "./components/Menu";
import CreateRating from "./components/CreateRating";


export default {
  components: {Menu, CreateRating},
  data() {
    return {
      visible: false,
      closable: true,
      closeOnEscape: true,
    }

  },
  mounted() {
    const token = localStorage.getItem('token');
    if (token) {
      store.commit('setToken', token);
      // store.commit('setLoggedIn', true);
    }
    this.$store.dispatch('getUser')
  }
};
</script>
